<div class="card-group">
    <div class="card">
        <div class="card-header">
            <div class="header">
                <div>
                    <h5>{{debtor.fullname}}</h5>
                    <p id="totalRecord"></p>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item" id="showDebt">
                        <a class="nav-link active" data-toggle="tab" href="#debts">Debts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#infomation">Information</a>
                    </li>
                </ul>
            </div>
            <div>
                <a href="../trash">
                    <button type="button" class="btn btn-info">
                        <i class="fa-regular fa-trash-can"></i>
                        Thùng rác
                    </button>
                </a>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addDebt">
                    <i class="fa-solid fa-plus"></i>
                    Tạo phiếu nợ
                </button>
            </div>
        </div>

        <div class="tab-content">
            <div id="debts" class="tab-pane active">
                <div class="card-body">
                    <div class="body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Ghi chú</th>
                                    <th scope="col">Loại nợ</th>
                                    <th scope="col">Số tiền</th>
                                    <th scope="col">Ngày lập phiếu</th>
                                    <th scope="col">Thời gian tạo</th>
                                    <th scope="col" colspan="2">Action</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="hidden" value="{{debtor.slug}}" id="slug" />
                                        <select id="type" onchange="chooseType()">
                                            <option value="all">All</option>
                                            <option value="+">+</option>
                                            <option value="-">-</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="number" id="minMonney" placeholder="from" oninput="chooseMonney()"/>
                                        <input type="number" id="maxMonney" placeholder="to" oninput="chooseMonney()"/>
                                    </td>
                                    <td>
                                        <input type="datetime-local" id="minTimeDebt" />
                                        <input type="datetime-local" id="maxTimeDebt" />
                                    </td>
                                    <td>
                                        <input type="datetime-local" id="minTimeCreate" />
                                        <input type="datetime-local" id="maxTimeCreate" />
                                    </td>
                                    <td colspan="2">
                                        <button type="button" class="btn btn-info" id="searchDebt">
                                            Tìm kiếm</button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody class="showDebts">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-4 justify-content-center">
                            <button class="btn btn-light" id="prePage" disabled>Previous</button>
                        </div>
                        <div class="col justify-content-center">
                            <span>Page
                                <input type="number" id="currentPage" disabled />
                                /
                                <span id="pages"></span>
                            </span>
                            <select id="perPage" onchange="choosePerPage()">
                                <option value="5">5 record</option>
                                <option value="10">10 record</option>
                            </select>
                        </div>
                        <div class="col-sm-4 justify-content-center">
                            <button class="btn btn-light" id="nextPage">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="infomation" class="tab-pane fade">
                <div class="container">
                    <div class="card-body">
                        <form>
                            <input type="hidden" value="{{debtor._id}}" id="debtorId" />
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Full name (*)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="fullname" value="{{debtor.fullname}}"
                                        disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="phone" value="{{debtor.phone}}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-6">
                                    <textarea type="text" class="form-control"
                                        id="address">{{debtor.address}}</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="email" value="{{debtor.email}}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Ngày tạo </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="createAt" disabled
                                        value="{{debtor.createAt}}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Tổng nợ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="totalDebts"
                                        value="{{debtor.totalDebts}}" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"></label>
                                <p class="col-sm-6" id="text"></p>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-info" id="updateDebtor">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDebt">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-group">
                    <div class="card">
                        <div class="card-header">
                            <h5>Thông tin người nợ</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <input type="hidden" value="{{debtor.slug}}" id="slug" />
                                <input type="hidden" value="{{debtor._id}}" id="debtorId" />
                                <input type="hidden" value="{{debtor.fullname}}" id="debtorName" />

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Ghi chú</label>
                                    <div class="col-sm-9">
                                        <textarea type="text" class="form-control" id="note"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Loại nợ </label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <input type="radio" name="type" id="+Debts" value="+" checked hidden />
                                            <input type="radio" name="type" id="-Debts" value="-" hidden />
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="form-check-label" for="+Debts">
                                                    <div class="form-control debt debts choose">+</div>
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-check-label" for="-Debts">
                                                    <div class="form-control debt debts">-</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Số tiền (*)</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" value="0" id="monney" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div id="textMonney" class="col-sm-9">
                                        Không
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Ngày lập phiếu </label>
                                    <div class="col-sm-9">
                                        <input type="datetime-local" class="form-control" id="timeDebt" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Hình ảnh chứng minh
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control" id="imgDebt" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9">
                                        <button type="submit" class="btn btn-info" id="addNewDebt">
                                            Thêm phiếu nợ
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailDebt">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-group">
                    <div class="card">
                        <div class="card-header">
                            <h5>Thông tin phiếu nợ</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Ghi chú</label>
                                    <div class="col-sm-9">
                                        <textarea type="text" class="form-control" id="noteDetail" disabled>
                    </textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Loại nợ </label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="form-check-label" for="+Debts">
                                                    <div class="form-control debt" id="+DebtDetail">+</div>
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-check-label" for="-Debts">
                                                    <div class="form-control debt" id="-DebtDetail">-</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Số tiền (*)</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="monneyDetail" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <p class="col-sm-9" id="textMonneyDetail"></p>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Ngày lập phiếu </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="timeDebtDetail" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Hình ảnh chứng minh
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control" id="imgDebt" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteDebt" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 30vw;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khoản ghi nợ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Khoản ghi nợ đã tạo ra sẽ không thể bị xóa mà nó sẽ được lưu trong thùng
                rác, bạn có muốn tiếp tục xóa
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteDebtBtn">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<form name="deleteForm" method="GET"></form>
<form id="togglePage" method="GET"></form>

<script>
    const debts = document.querySelectorAll('.debts'); 
    debts.forEach(debt => {
        debt.addEventListener('click', event => {
            debts.forEach(d => {
                d.classList.remove('choose');
            });
            event.target.classList.add('choose');
        })
    })
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        addDebt();
        handleUpdateDebtor(); searchDebt(); deleteDebt(); showDebt(); nextPageDebt();
        prePageDebt(); formatInfo(); textErr()
    });
</script>

<script>
    let monney = document.querySelector('#monney'); monney.oninput = function () {
        setInterval(() => {
            let textMonney = document.querySelector('#textMonney');
            textMonney.innerText = convertMoneyToString(Number(monney.value));
        }, 1000);
    }
</script>