<div class="main">
  <form class="form" id="form" action="/resetPassword" method="post">
    <h3 class="heading">Nhập mật khẩu mới của bạn</h3>
    <span class="err">{{ error }}</span>

    <div class="spacer"></div>
    <div>
      <input type="hidden" name="userId" value="{{ userId }}">
      <input type="hidden" name="resetString" value="{{ resetString }}">
      <input type="hidden" name="email" value="{{ email }}">
    </div>

    <div class="form-group mt-4">
      <label for="password" class="form-label">Email (*)</label>
      <input
        type="text"
        value="{{ email }}"
        class="form-control"
        disabled
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu (*)</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Nhập mật khẩu"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password_confirmation" class="form-label">Nhập lại mật khẩu (*)</label>
      <input
        id="password_confirmation"
        name="password_confirmation"
        placeholder="Nhập lại mật khẩu"
        type="password"
        class="form-control"
      />
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <div class="svg-captcha">
        <img src="{{ captchaURL }}" id="captcha-img" />
        <div>
            <input
            id="captcha"
            name="captcha"
            type="text"
            placeholder="Captcha"
            class="captcha"
            />
            <button type="button" id="change-captcha">Đổi</button>
        </div>
      </div>
    </div>
    <button type="submit" class="form-submit">Submit</button>
  </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    Validator({
      form: '#form',
      formGroupSelector: '.form-group',
      errorSelector: '.form-message',
      rules: [
          Validator.isRequired('#password'),
          Validator.minLength('#password', 6),
          Validator.isRequired('#password_confirmation'),
          Validator.isConfirmed('#password_confirmation', function () {
            return document.querySelector('#form #password').value;
          }, 'Mật khẩu nhập lại không chính xác')
      ],
    });
    changeCaptcha();
  })
</script>